.aux-item {
  padding-top: 13px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid rgb(230, 230, 230);
}

.aux-item__wrapper {
  display: flex;
  flex-direction: column;
}

.aux-item__name {
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.aux-item__data {
  width: 100%;
  margin-bottom: 17px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;

  color: $light-gray;
}

.aux-item__value,
.aux-item__field {
  padding: 0;
}

.aux-item__field {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .aux-item__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .aux-item {
    flex-direction: row;
    justify-content: space-between;
  }
}
