.aux-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aux-item__wrapper {
  display: flex;
  flex-direction: column;
}

.aux-item__name {
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;
}

.aux-item__data {
  font-size: 14px;
  line-height: 14px;

  color: $light-gray;
}

@media (min-width: $tablet-width) {
  .aux-item__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .aux-item {
    flex-direction: row;
    justify-content: space-between;
  }
}
