.catalog {
  border-top: 1px solid rgb(230, 230, 230);
}

.catalog__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.catalog__item {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    border: none;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
