.example {
  padding-top: 17px;
  padding-bottom: 36px;
  background-color: $dark-white;

  display: flex;
  flex-direction: column;
}

.example__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.example__slider {
  padding: 0 20px;
}

.example__header {
  @include second-header();
  margin: 0;
  margin-bottom: 26px;
  align-self: flex-start;
}

.example__body {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-right: 1px;

  font-family: Arial, Helvetica, sans-serif;
  color: $light-gray;
}

.example__facts-wrapper {
  display: flex;
  flex-direction: column;
}

.example__facts-table {
  margin-bottom: 13px;

  width: 100%;

  & tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: center;
  }

  & tr {
    position: relative;
    display: block;
    margin-bottom: 20px;

    width: 123px;

    border: 1px solid $border-color;
  }

  & td {
    display: block;
    width: auto;
  }
}

.example__table-value {
  @include third-header();
  padding: 15px 0;

  text-transform: uppercase;
}

.example__table-field {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 16px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  background-color: $dark-white;
  color: $light-gray;
}

.example__cost {
  align-self: center;
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example__facts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-self: auto;
  }

  .example__facts-table {
    & tr {
      width: 160px;
    }
  }

  .example__table-field {
    padding: 0 5px;
    bottom: -4px;
    white-space: nowrap;

    & br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 570px;
  }

  .example__facts-wrapper {
    flex-direction: column;
  }
}
