.example {
  padding-top: 17px;
  padding-bottom: 36px;
  background-color: $dark-white;
}

.example__container {
  display: flex;
  flex-direction: column;
}

.example__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.example__slider {
  padding: 0 20px;
}

.example__header {
  @include second-header();
  margin: 0;
  margin-bottom: 26px;
  align-self: flex-start;
}

.example__body {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-right: 1px;

  font-family: "Arial", "Helvetica", sans-serif;
  color: $light-gray;
}

.example__facts-wrapper {
  display: flex;
  flex-direction: column;
}

.example__facts-table {
  margin-bottom: 13px;

  width: 100%;
}

.example__facts-table tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;
}

.example__facts-table tr {
  position: relative;
  display: block;
  margin-bottom: 20px;

  width: 123px;

  border: 1px solid $border-color;
}

.example__facts-table td {
  display: block;
  width: auto;
}

.example__table-value {
  @include third-header();
  padding: 15px 0;

  text-transform: uppercase;
}

.example__table-field {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 16px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  background-color: $dark-white;
  color: $light-gray;
}

.example__cost {
  align-self: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 0;
    padding-bottom: 0;

    border-top: 1px solid $border-color;
    background: none;
    // background: linear-gradient(to top, $dark-white, $dark-white 462px, $white 462px, $white 100%);
  }

  .example__wrapper {
    margin-bottom: 21px;
    padding: 0 30px;
  }

  .example__header {
    margin-top: 44px;
    margin-bottom: 62px;
  }

  .example__body {
    margin-bottom: 53px;
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__facts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-self: auto;
  }

  .example__facts-table {
    width: 410px;
  }

  .example__facts-table tbody {
    justify-content: flex-start;
  }

  .example__facts-table tr {
    margin-right: 43px;
    width: 160px;
  }

  .example__table-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__table-field {
    padding: 0 5px;
    bottom: -8px;

    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;

    background-color: $white;
  }

  .example__cost {
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    font-size: 20px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: right;
  }

  .example__cost span {
    margin-bottom: 10px;
  }

  .example__slider {
    position: relative;
    padding-bottom: 71px;

    &::before {
      content: "";
      position: absolute;
      top: 200px;
      left: -2px;
      right: 9px;
      bottom: 0;
      margin: 0 calc(50% - 50vw);
      border-left: 50vw solid $dark-white;
      background-color: rgb(234, 234, 234);
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: $dark-white linear-gradient($white, $white) no-repeat 0 0/100% 166px;
    border: none;
    overflow: hidden;
  }

  .example__container {
    padding: 0 30px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .example__wrapper {
    margin-right: 122px;
    padding: 0;
    width: 570px;
  }

  .example__header {
    margin-top: 32px;
  }

  .example__body {
    margin-top: 81px;
    margin-bottom: 66px;

    width: 448px;
  }

  .example__facts-wrapper {
    flex-direction: column;
  }

  .example__facts-table {
    margin-bottom: 30px;
  }

  .example__table-value {
    padding: 16px 0;
  }

  .example__table-field {
    bottom: -10px;
    background-color: $dark-white;
  }

  .example__cost {
    flex-direction: row;
  }

  .example__cost span:first-child {
    margin-right: 63px;
  }

  .example__slider {
    padding-bottom: 44px;

    &::before {
      top: 167px;
      left: 327px;
      right: 0;
      margin: 0;
      border-left: none;
      border-right: 50vw solid rgb(234, 234, 234);
      background-color: $dark-white;
      z-index: 0;
    }
  }
}
