.how-to {
  margin: 0 20px;
  margin-bottom: 20px;
}

.how-to__header {
  @include second-header();

  margin-top: -3px;
}

.how-to__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.how-to__list-item {
  margin: 0;
  margin-bottom: 26px;
}

.how-to__item-body {
  position: relative;
  padding: 0px;
  padding-left: 80px;
  margin: 0px;

  font-family: Arial, Helvetica, sans-serif;

  color: $light-gray;

  &::before {
    content: "";

    position: absolute;
    top:0px;
    left: 0px;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.how-to__item-body--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 60px auto;
    }
  }

  &.how-to__item-body--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 60px auto;
    }
  }

  &.how-to__item-body--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 60px auto;
    }
  }

  &.how-to__item-body--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 60px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  // .how-to__header {
  //   font-size: 60px;
  // }

  .how-to__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .how-to__list-item {
    width: 245px;
    margin-right: 160px;
    padding-left: 0px;
  }

  .how-to__list-item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (min-width: $desktop-width) {
  .how-to {
    margin: 0;
  }

  .how-to__list-item {
    margin-right: 80px;
  }

  .how-to__list-item:nth-child(2n) {
    margin-right: 80px;
  }

  .how-to__list-item:last-child {
    margin-right: 0px;
  }
}
