.how-to {
  margin: 0 20px;
}

.how-to__header {
  @include second-header();
}

.how-to__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.how-to__list-item {
  margin: 10px 0;
  padding-left: 80px;
}

.how-to__item-body {
  color: $light-gray;
}

@media (min-width: $tablet-width) {
  // .how-to__header {
  //   font-size: 60px;
  // }

  .how-to__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .how-to__list-item {
    width: 245px;
    margin-right: 160px;
    padding-left: 0px;
  }

  .how-to__list-item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (min-width: $desktop-width) {
  .how-to {
    margin: 0;
  }

  .how-to__list-item {
    margin-right: 80px;
  }

  .how-to__list-item:nth-child(2n) {
    margin-right: 80px;
  }

  .how-to__list-item:last-child {
    margin-right: 0px;
  }
}
