.information {
  padding: 11px 19px;

  display: flex;
  flex-direction: row;
}

.information--main {
  background-color: $white;
}

.information__dilers {
  margin-right: 19px;

  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.information__adress {
  margin-top: 18px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
