.item {
  display: flex;
  flex-direction: column;
}

.item__wrapper {
  display: flex;
  flex-direction: row;
}

.item__title {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.item__data {
  font-size: 12px;
  line-height: 16px;

  color: $light-gray;
}


@media (min-width: $tablet-width) {
  .item__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
