.item {
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid rgb(230, 230, 230);
}

.item__image {
  width: 100%;
  height: auto;
}

.item__wrapper {
  display: flex;
  flex-direction: row;
}

.item__body-wrapper {
  padding-top: 20px;
}

.item__title {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: $dark-gray;
}

.item__data {
  width: 143px;
  margin-top: 8px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $light-gray;
}

.item__value,
.item__field {
  width: 50%;
  padding: 0;
}

.item__field {
  text-align: right;
}

.item__order {
  margin-top: -3px;
}

@media (min-width: $tablet-width) {
  .item__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
