.map {
  position: relative;
  min-width: 320px;
  height: 365px;
}

.map__iframe {
  position: relative;
  width: 100%;
  height: 100%;

  border: none;
  z-index: 2;
}

.map__img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}

@media (min-width: $tablet-width) {
  .map {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 400px;
  }
}
