.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  background-color: $green;
  opacity: 0.5;

  z-index: 10;
}

.modal-order {
  width: 300px;
  height: 500px;
  padding: 10px;

  display: none;
}

.modal-visible {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 58px;
  height: 58px;

  font-size: 0;

  background-color: gray;
  border: 0;
  opacity: 1;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 24px;
    height: 2px;

    background-color: $gray;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal-close:hover,
.modal-close:focus {
  opacity: 0.8;
}

.modal-close:active {
  opacity: 0.3;
}
