.more {
  position: relative;
  padding-top: 75px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid rgb(230, 230, 230);

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
  }
}

.more__title {
  position: relative;
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.more__body {
  margin: 0;
  margin-bottom: 21px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $light-gray;
}

.more__show-all {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: $light-gray;
  background-color: $dark-white;

  &:hover {
    background-color: rgb(235, 235, 235);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .more {
    margin-top: 135px;
    padding-bottom: 42px;

    justify-content: flex-end;
    border: 1px solid rgb(230, 230, 230);

    &::before {
      top: 53px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .more__title {
    margin-bottom: 28px;
    padding: 0 73px;

    text-align: center;
    font-size: 20px;
  }

  .more__body {
    margin-bottom: 90px;
    padding: 0 73px;

    text-align: center;
    font-size: 16px;
  }

  .more__show-all {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .more {
    padding-bottom: 40px;
  }

  .more__title {
    padding: 0 37px;
  }

  .more__body {
    margin-bottom: 87px;
    padding: 0 37px;
  }

  .more__show-all {
    width: 170px;
  }
}
