.more {
  display: flex;
  flex-direction: column;
}

.more__title {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.more__body {
  font-size: 12px;
  line-height: 16px;

  color: $light-gray;
}

.more__show-all {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  background-color: $dark-white;
}
