.page-main {
  display: flex;
  flex-direction: column;
}

.page-main__header {
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 25px;

  @include second-header();
  font-weight: 400;
}
