.page-footer {
  display: flex;
  flex-direction: column;

  background-color: $dark-white;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 38px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__links {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {

  .page-footer__information {
    width:570px;
    position: relative;

    margin-top: 150px;
    z-index: 2;
  }

  .page-footer__map {
    margin-top: -150px;
  }
}
