.programs__list {
  @include list-reset();
  margin: 0 20px;

  display: flex;
  flex-direction: column;
}

.programs__list-item {
  padding: 24px 20px;
  padding-bottom: 21px;
  margin-bottom: 21px;
  background-color: $dark-white;

  display: flex;
  flex-direction: column;
}

.programs__item-header {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 5px 0;
  padding-left: 72px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    content: "";

    position: absolute;
    left: 2px;
    top: 0;

    width: 50px;
    height: 50px;

    background-color: $green;
    border-radius: 50%;
  }
}

.programs__item-header--slim {
  &::after {
    left: 9px;
    top: -4px;

    width: 50px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
  }
}

.programs__item-header--pro {
  &::after {
    top: 11px;
    left: -7px;

    width: 68px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__item-body {
  margin: 0 auto;
  margin-bottom: 19px;
  padding-bottom: 23px;

  font-family: "Arial", "Helvetica", sans-serif;
  padding-right: 10px;

  border-bottom: 1px solid $dark-dark-white;
  color: $light-gray;
}

.programs__item-link {
  position: relative;

  font-size: 16px;
  line-height: 16px;

  color: $dark-gray;
  text-transform: uppercase;
}

.programs__item-link span {
  position: relative;
  padding-right: 44px;

  &::after {
    content: "";

    position: absolute;
    right: 9px;
    top: 7px;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover::after {
    right: 0;

    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 20px;
  }

  .programs__list {
    margin: 0 30px;
  }

  .programs__list-item {
    padding: 72px 52px;
    padding-bottom: 31px;
    margin-bottom: 29px;
  }

  .programs__item-header {
    margin-bottom: 19px;

    font-size: 36px;
  }

  .programs__item-body {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .programs__item-link span {
    padding-right: 48px;

    &::after {
      right: 0;
      top: 10px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .programs__item-body {
    padding-left: 0;
    padding-right: 230px;

    &--pro {
      padding-right: 260px;
    }
  }

  .programs__item-link {
    padding-left: 0;
    padding-right: 230px;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 20px;
  }

  .programs__item-header {
    padding-left: 0;
    padding-right: 230px;
  }

  .programs__item-header--slim,
  .programs__item-header--pro {
    &::before {
      left: auto;
      right: 10px;
      top: 19px;

      width: 200px;
      height: 200px;
    }
  }

  .programs__item-header--slim {
    &::after {
      left: auto;
      right: 40px;
      top: 7px;

      width: 140px;
      height: 194px;
    }
  }

  .programs__item-header--pro {
    &::after {
      left: auto;
      right: -24px;
      top: 63px;

      width: 268px;
      height: 112px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-bottom: 47px;
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .programs__list-item {
    padding-right: 46px;
    padding-bottom: 63px;
    width: 570px;
  }

  .programs__item-header {
    padding-left: 162px;
    margin-bottom: 67px;

    &::before {
      left: 1px;
      top: -24px;
      width: 100px;
      height: 100px;
    }
  }

  .programs__item-header--slim {
    &::after {
      left: 15px;
      top: -30px;

      width: 70px;
      height: 97px;
    }
  }

  .programs__item-header--pro {
    &::after {
      left: -17px;
      top: -2px;

      width: 134px;
      height: 56px;
    }
  }

  .programs__item-body {
    padding-bottom: 0;
  }

  .programs__item-link {
    font-size: 20px;
    line-height: 20px;
  }
}
