.slider {
  display: flex;
  flex-direction: column;
}

.slider__wrapper {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-self: center;
}

.slider__value {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.23);

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}

.slider__cat {
  margin-top: 34px;
  margin-left: -20px;
  margin-bottom: 29px;
}

.slider__cat--after {
  display: none;
}

.slider__btn {
  position: relative;
  margin: 0 17px;
  margin-top: 3px;

  width: 84px;
  height: 14px;

  border: 1px solid $border-color;
  border-radius: 15px;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 5px;

    width: 35px;
    height: 6px;

    background-color: $green;
    border: 1px solid $green;
    border-radius: 15px;
  }
}

@media (min-width: $tablet-width) {
  .slider__cat {
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .slider__wrapper {
    margin: 0;
  }

  .slider__value {
    font-size: 20px;
  }

  .slider__btn {
    margin: 8px 22px;
    width: 430px;
    height: 8px;

    background-color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    &::before {
      width: 34px;
      height: 34px;

      background-color: $white;
      border: 1px solid rgb(220, 220, 220);
      box-shadow: 0 2px 7px rgb(220, 220, 220);
    }

    &::after {
      top: -2px;
      width: 8px;
      height: 8px;

      background-color: $green;
    }

    &:hover::before {
      box-shadow: 0 2px 7px rgb(200, 200, 200);
    }

    &:active::before {
      border: 1px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding: 0;
  }

  .slider__cat {
    margin-left: 0;
    margin-top: -24px;
    margin-bottom: 38px;
  }

  .slider__wrapper {
    padding-left: 40px;
  }
}
