.social__list {
  @include list-reset();
  padding: 18px 78px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 280px;

  border-top: 1px solid $dark-dark-white;
  border-bottom: 1px solid $dark-dark-white;
}

.social__item {
  display: flex;
  justify-content: center;

  opacity: 0.6;
  fill: $gray;

  &:hover {
    opacity: 1;
    fill: $green;
  }

  &:active {
    opacity: 0.3;
    fill: $green;
  }
}

.social__item--vk {
  width: 22px;
  height: 25px;
  margin-left: -5px;
}

.social__item--instagram {
  margin-left: 1px;
  width: 16px;
  height: 16px;
}

.social__item--facebook {
  width: 19px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .social__list {
    border: none;
    margin-left: 20px;
  }

  .social__item {
    margin: 0;
  }

  .social__item--vk {
    width: 30px;
    height: 16px;
  }

  .social__item--instagram {
    width: 23px;
    height: 23px;
  }

  .social__item--facebook {
    width: 14px;
    height: 28px;
  }
}
