.text-input {
  padding: 11px 14px;
  padding-bottom: 14px;
  margin-left: 15px;

  flex-grow: 1;

  border: 1px solid rgba($border-color, 0.5);
  color: $light-gray;

  &::placeholder {
    text-transform: uppercase;
    color: $light-gray;
  }

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 1px solid $gray;
  }

  &:invalid {
    border: 1px solid rgb(255, 130, 130);
  }
}

.text-input--email,
.text-input--phone {
  padding-right: 40px;
  margin-left: 12px;
}

@media (min-width: $tablet-width) {
  .text-input {
    margin-left: 19px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .text-input--email {
    padding-left: 22px;
    margin-right: -3px;
  }

  .text-input--phone {
    margin-left: 16px;
    margin-right: -3px;
  }
}

@media (min-width: $desktop-width) {
  .text-input--email {
    margin-right: 0;
  }
}
