.text-area {
  padding: 13px 16px;
  padding-right: 10px;

  width: 282px;
  height: 150px;
  flex-grow: 1;

  text-transform: uppercase;
  color: $light-gray;

  &::placeholder {
    text-transform: uppercase;
    color: $light-gray;
  }
}
