.text-input {
  padding: 11px 14px;
  padding-bottom: 14px;
  margin-left: 12px;

  flex-grow: 1;

  border:  1px solid $border-color;
  opacity: 0.5;

  &::placeholder {
    text-transform: uppercase;
    color: $gray;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    border: 1px solid $gray;
  }

  &:invalid {
    border: rgb(255, 130, 130);
  }
}

// .text-input--email {
//   padding-right: 30px;
//   background-image: url("../img/icon-mail.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }
