*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-family: 'Oswald-regular', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;
  font-weight: 400;
  color: $dark-gray;

  background-color: $white;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  .body--main {

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right 0;
  }

}
