@mixin second-header() {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin third-header() {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

@mixin main-text() {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}
