// Device widths
$tablet-width: 768px;
$desktop-width: 1260px;

// Colors
$green-color: rgb(104, 183, 56);

$light-gray: rgb(68, 68, 68);
$gray: rgb(34, 34, 34);
$dark-gray: rgb(17, 17, 17);

$white: rgb(255, 255, 255);
$dark-white: rgb(242, 242, 242);
